<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/null.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <div class="login__container">
            <div class="login__items">
                <div class="login__item">
                    <div class="login__title">Blueberries</div>
                    <div class="login__form loginForm">
                        <div class="loginForm__title">Log in to your account</div>
                        <div class="loginForm__field">
                            <div class="loginForm__suptitle">Username</div>
                            <input type="text" placeholder="Username" class="loginForm__input">
                        </div>
                        <div class="loginForm__field">
                            <div class="loginForm__suptitle">Password</div>
                            <input type="text" placeholder="Your password" class="loginForm__input">
                        </div>
                        <button class="loginForm__button">Login</button>
                        <div class="loginForm__have">Need a account? <span>Sign in</span></div>
                        <div class="loginForm__have">Forgot your password? <span> Reset it</span></div>
                    </div>
                </div>
                <div class="login__item">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>